name: Build Resume

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      FILE: morgan_watson_morris_resume.pdf

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: fontist/setup-fontist@v2
      - run: fontist install "Fira Code"

      - name: Install Typst
        uses: typst-community/setup-typst@v2
        with:
          version: latest

      - name: Compile resume
        run: typst compile resume.typ ${{ env.FILE }} --font-path ~/.fontist/fonts

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: resume-pdf
          path: ${{ env.FILE }}
          retention-days: 30

      - name: Attach to Release
        if: github.event_name == 'release'
        uses: actions/github-script@v7

        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require("fs").promises;
            const { repo: { owner, repo }, sha } = context;

            const file = ${{ env.FILE }};

            const release = await github.rest.repos.getReleaseByTag({
              owner, repo,
              tag: process.env.GITHUB_REF.replace("refs/tags/", ""),
            });

            console.log("Release:", { release });
            console.log("File:", { file })

            await github.rest.repos.uploadReleaseAsset({
              owner, repo,
              release_id: release.data.id,
              name: file,
              data: await fs.readFile(file),
            });
